EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_ANALYSIS_MODE=mock
EXPO_PUBLIC_ENTITLEMENT_MODE=local_dev
EXPO_PUBLIC_PAYWALL_ENABLED=false
EXPO_PUBLIC_REVENUECAT_APPLE_API_KEY=
EXPO_PUBLIC_REVENUECAT_MONTHLY_PRODUCT_ID=prod03d96b4e28
EXPO_PUBLIC_REVENUECAT_ANNUAL_PRODUCT_ID=prod0ef75e0b34
EXPO_PUBLIC_FACEBOOK_APP_ID=
EXPO_PUBLIC_USDA_FDC_API_KEY=
EXPO_PUBLIC_GEMINI_API_KEY=
EXPO_PUBLIC_OPENAI_API_KEY=
EXPO_PUBLIC_VISION_MODEL_PROVIDER=mock
EXPO_PUBLIC_SENTRY_DSN=
