EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_ANALYSIS_MODE=mock
EXPO_PUBLIC_ENTITLEMENT_MODE=local_dev
EXPO_PUBLIC_REVENUECAT_APPLE_API_KEY=
EXPO_PUBLIC_REVENUECAT_MONTHLY_PRODUCT_ID=macrolens_pro_monthly
EXPO_PUBLIC_REVENUECAT_ANNUAL_PRODUCT_ID=macrolens_pro_annual
